@model GamesWorkshop.Domain.View.ContactModels.CreateContactViewModel;

@{
	ViewData["Title"] = "Products";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact">
	<div class="container">
		<div class="dreamcrub">
			<ul class="breadcrumbs">
				<li class="home">
					<a href="index.html" title="Go to Home Page">Home</a>&nbsp;
					<span>&gt;</span>
				</li>
				<li class="women">
					Contact
				</li>
			</ul>
			<ul class="previous">
				<li><a href="index.html">Back to Previous Page</a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="contact-info">
			<h2>FIND US HERE</h2>
		</div>
		<div class="contact-map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6632.248000703498!2d151.265683!3d-33.7832959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12abc7edcbeb07%3A0x5017d681632bfc0!2sManly+Vale+NSW+2093%2C+Australia!5e0!3m2!1sen!2sin!4v1433329298259" style="border:0"></iframe>
		</div>
		<div class="contact-form">
			<div class="contact-info">
				<h3>CONTACT FORM</h3>
			</div>
			<form method="post" id="contactFormId">
				<div class="contact-left">
					<div class="form-group mb-3">
						<label>E-mail</label>
						<input min="1" max="99" class="form-control" asp-for="@Model.Email">
						<span class="text-danger" asp-validation-for="@Model.Email"></span>
					</div>
					<div class="form-group mb-3">
						<label>Subject</label>
						<input min="1" max="99" class="form-control" asp-for="@Model.Subject">
						<span class="text-danger" asp-validation-for="@Model.Subject"></span>
					</div>
				</div>
				<div class="contact-right">
					<div class="form-group">
                    <label>Message</label>
                    <textarea style="height:100px;resize:none;" class="form-control" asp-for="@Model.Message"></textarea>
                    <span class="text-danger" asp-validation-for="@Model.Message"></span>
                  </div>
				</div>
				<div class="clearfix"></div>
				<div class="card-buttons-group" style="margin-bottom:100px;">
					<button class="btn btn-primary" id="saveContactButtonId">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>


@section pageScripts{
	<script>
		$('#saveContactButtonId').on('click', function (e) {
			e.preventDefault();
			$.ajax({
				url: '@Url.Action("GetContact", "Contact")',
				type: 'POST',
				data: $('#contactFormId').serialize(),

				success: function (response) {
					Swal.fire({
						title: 'Information',
						text: response.description,
						icon: 'success',
						confirmButtonText: 'Ok'
					})
				},
				error: function (data) {
					Swal.fire({
						title: 'Information',
						text: "Validation error",
						icon: 'error',
						confirmButtonText: 'Ok'
					})
				}
			})
		})
	</script>
}