
@model List<GamesWorkshop.Domain.View.ProductModels.ProductViewModel>;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
		<div class="container">
<div class="banner-bottom">
	<div class="banner-bottom-right">
		<div  class="callbacks_container">
					<ul class="rslides" id="slider4">
					<li>
								<div class="banner-info">
									<h3>Join The Universe</h3>
									<p>Start your shopping here...</p>
								</div>
							</li>
							<li>
								<div class="banner-info">
								   <h3>Shop Online</h3>
									<p>Start your shopping here...</p>
								</div>
							</li>
							<li>
								<div class="banner-info">
								  <h3>Create Your Own Army</h3>
									<p>Start your shopping here...</p>
								</div>								
							</li>
						</ul>
					</div>
					<!--banner-->
				  <script src="~/js/responsiveslides.min.js"></script>
			 <script>
				// You can also use "$(window).load(function() {"
				$(function () {
				  // Slideshow 4
				  $("#slider4").responsiveSlides({
					auto: true,
					pager:true,
					nav:false,
					speed: 500,
					namespace: "callbacks",
					before: function () {
					  $('.events').append("<li>before event fired.</li>");
					},
					after: function () {
					  $('.events').append("<li>after event fired.</li>");
					}
				  });

				});
			  </script>
	</div>
	<div class="clearfix"> </div>
	</div>
		<div class="shop">
			<a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-Id="1">SHOP COLLECTION NOW</a>
		</div>
	</div>
</div>

		<div class="container">
			<div class="main-content">
				<div class="online-strip">
					<div class="col-md-4 follow-us">
						<h3>follow us : <a class="twitter" href="#"></a><a class="facebook" href="#"></a></h3>
					</div>
					<div class="col-md-4 shipping-grid">
						<div class="shipping">
							<img src="~/images/shipping.png" alt="" />
						</div>
						<div class="shipping-text">
							<h3>Free Shipping</h3>
							<p>on orders over $ 199</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 online-order">
						<p>Order online</p>
						<h3>Tel:999 4567 8902</h3>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="products-grid">
				<header>
					<h3 class="head text-center">Latest Products</h3>
				</header>
			@foreach (var product in Model)
				{
					<div class="col-md-4 product simpleCart_shelfItem text-center">
							<a asp-controller="Product" asp-action="GetProduct" asp-route-id = "@product.Id"><img src="@product.ImageSrc" alt="" /></a>
							<div class="mask">
								<a asp-controller="Product" asp-action="GetProduct" asp-route-id = "@product.Id">Quick View</a>
							</div>
							<a class="product_name" asp-controller="Product" asp-action="GetProduct" asp-route-Id="@product.Id">@product.Name</a>
							<p><a asp-controller="Product" asp-action="GetProduct" asp-route-Id="@product.Id"><i></i> <span class="item_price">@product.Price$</span></a></p>
					</div>
				}
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
				<div class="other-products">
		<div class="container">
			<h3 class="like text-center">Featured Collection</h3>        			
					 <ul id="flexiselDemo3">
						<li><a asp-controller="Product" asp-route-id="27" asp-action="GetProduct"><img src="https://www.games-workshop.com/resources/catalog/product/920x950/99120110070_NecronDestroyerretoolLead.jpg" class="img-responsive" alt="" /></a>
							<div class="product liked-product simpleCart_shelfItem">
							<a class="like_name" asp-controller="Product" asp-action="GetProduct" asp-route-Id = "27">Lokhust Destroyer</a>
							<p><a><i></i> <span class=" item_price">$21</span></a></p>
							</div>
						</li>
						<li><a asp-controller="Product" asp-route-id="28" asp-action="GetProduct"><img src="https://www.games-workshop.com/resources/catalog/product/920x950/99120110044_LokhustHeavyDestroyerLead.jpg" class="img-responsive" alt="" /></a>
							<div class="product liked-product simpleCart_shelfItem">
							<a class="like_name" asp-controller="Product" asp-action="GetProduct" asp-route-Id = "28">Lokhust Heavy Destroyer</a>
							<p><a><i></i> <span class=" item_price">$27</span></a></p>
							</div>
						</li>
						<li><a asp-controller="Product" asp-route-id="29" asp-action="GetProduct"><img src="https://www.games-workshop.com/resources/catalog/product/920x950/60030107007_GKCodexStdEdLead.jpg" class="img-responsive" alt="" /></a>
							<div class="product liked-product simpleCart_shelfItem">
							<a class="like_name" asp-controller="Product" asp-action="GetProduct" asp-route-Id = "29">Codex: Grey Knights</a>
							<p><a><i></i> <span class=" item_price">$42</span></a></p>
							</div>
						</li>
						<li><a asp-controller="Product" asp-route-id="31" asp-action="GetProduct"><img src="https://www.games-workshop.com/resources/catalog/product/920x950/99120108048_SoBCastigatorLead.jpg" class="img-responsive" alt="" /></a>
							<div class="product liked-product simpleCart_shelfItem">
							<a class="like_name" asp-controller="Product" asp-action="GetProduct" asp-route-Id = "31">Castigator</a>
							<p><a><i></i> <span class=" item_price">$67.50</span></a></p>
							</div>
						</li>
						<li><a asp-controller="Product" asp-route-id="32" asp-action="GetProduct"><img src="https://www.games-workshop.com/resources/catalog/product/920x950/99120103079_ThrakaLead.jpg" class="img-responsive" alt="" /></a>
							<div class="product liked-product simpleCart_shelfItem">
							<a class="like_name" asp-controller="Product" asp-action="GetProduct" asp-route-Id = "32">Ghazghkull Thraka</a>
							<p><a><i></i><span class=" item_price">$55</span></a></p>
							</div>
						</li>
					 </ul>
					<script type="text/javascript">
					 $(window).load(function() {
						$("#flexiselDemo3").flexisel({
							visibleItems: 4,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: { 
								portrait: { 
									changePoint:480,
									visibleItems: 1
								}, 
								landscape: { 
									changePoint:640,
									visibleItems: 2
								},
								tablet: { 
									changePoint:768,
									visibleItems: 3
								}
							}
						});

					});
				   </script>
				   <script type="text/javascript" src="~/js/jquery.flexisel.js"></script>
	</div>
</div>

